* {
  box-sizing: border-box;
}

body {
  height: auto;
  min-height: 100%;
  margin: 0;
  background: #306bf2;
  background: linear-gradient(top left, #306bf2, #0a41c5);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

:root {
  --blue: #316bf3;
}
.main {
  display: flex;
  margin-top: 45px;
}

.container {
  background-color: rgb(255, 255, 255);
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 55px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 55px;
  box-shadow: rgb(19, 59, 154) 0px 10px 62px 10px;
  border-radius: 16px;
  position: relative;
}
.header-plate {
  max-width: 1200px;
  margin-left: -40px;
  margin-right: -40px;
  height: 60px;
  background-color: #316bf3;
}
img {
  max-width: 100%;
  height: auto;
}
button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

a {
  text-decoration: none;
}
