@import "../../styles/variables/variables.scss";

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
  margin-left: 25px;
  margin-right: 100px;
}
.card {
  max-width: 600px;
  min-width: 600px;
  padding: 17px 22px 17px 22px;
  margin-bottom: 20px;
  background: $white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  word-wrap: break-word;

  &:last-child {
    margin-bottom: 0;
  }
}
.title {
  margin-top: 0;
}

.image {
  img {
    width: 145px;
    height: 136px;
  }
}

.group {
  .title {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: $black-blue;
  }

  .price {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: $white-aluminum;
  }
}

.bottomPrice {
  display: flex;
  align-items: flex-end;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: $black-blue;
}

.buttons {
  min-width: 100px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.remove {
  position: absolute;
  right: 0;
  top: 0;
}
.alert {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
