.title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 38px;
  color: var(--blue);
}

.button {
  padding: 10px 38px;
  //margin-right: 25px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: rgba(0, 123, 255, 0.8);
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Segoe UI";
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s ease-in;
  &:hover {
    transition: 0.3s ease-in;
    background-color: #0069d9;
  }
}
.buttonRed {
  padding: 10px 38px;
  margin-right: 25px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #cc4e5c;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  font-family: "Segoe UI";
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.3s ease-in;
  &:hover {
    transition: 0.3s ease-in;
    background-color: #b93947;
  }
}
