.flex {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 38px;
  color: var(--blue);
}
.icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #014b9b;
    svg {
      fill: #014b9b;
    }
  }
}
