.product-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 35px;
  padding-left: 90px;
}

.product-price {
  color: #4ab081;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 28px;
  margin-bottom: 25px;
}

.product-btn-order {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 25px;
  background-color: #316bf3;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  padding: 0.5em 1em;
  text-decoration: none;
  transition: 0.2s linear;
}
.product-btn-order:disabled {
  opacity: 0.4;
  pointer-events: none;
}
.product-btn-order:hover,
a.product-btn-order:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff3805;
}
.product-img {
  max-width: 390px;
  padding: 0 15px;
}
.desc-wrapper {
  width: 420px;
  padding: 0 15px;
}
.product-desc {
  font-family: "Open Sans", sans-serif;
  max-width: 390px;
  margin-bottom: 50px;
}
.prod-flex {
  display: flex;
  justify-content: flex-end;
}
.tooltip {
  width: 200px;
  color: #fff;
  border-radius: 3px;
  background-color: rgba(246, 58, 137, 0.6);
  padding: 10px 20px;
  padding-bottom: 14px;
  position: absolute;
  top: 0;
  left: 45%;
  transform: translate(0, 230px);
  -webkit-transform: translate(0, 230px);
  -o-transform: translate(0, 230px);
  -moz-transform: translate(0, 230px);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
