.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.flex {
  display: flex;
  justify-content: space-between;

  span {
    display: inline-block;
  }
}

.name {
  margin: 0 0 15px 0;
}
.image {
  min-width: 510px;
  margin: 0 15px;
  padding: 15px 0;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;

  img {
    width: 400px;
    object-fit: cover;
  }
}
.addToBasket {
  display: inline-block;
  padding: 8px 12px;
  width: 100%;
  border: none;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;

  font-family: "Segoe UI";
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    background-color: #0069d9;
    border-color: #0062cc;
    transition: 0.3s ease-in;
  }
}

.goToBasket {
  display: inline-block;
  padding: 8px 12px;
  width: 100%;
  border: none;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  color: #fff;
  font-family: "Segoe UI";
  letter-spacing: 0.5px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #10c44c;
  transition: 0.3s ease-in;

  &:hover {
    background-color: #099437;
    transition: 0.3s ease-in;
  }
}

.list {
  list-style-type: none;
  padding: 0;

  .listItem {
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
}
