.header {
  padding: 35px 15px 30px 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #014b9b;
    svg {
      fill: #014b9b;
    }
  }
}

.logo,
a.logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 38px;
  text-decoration: none;
  color: #316bf3;
  transition: 0.2s ease-in;
}

@media (max-width: 576px) {
  .logo {
    display: block;
    text-align: center;
  }
}

.logo span {
  color: #2b2b2b;
}

a.logo:hover {
  color: #316bf3;
  text-decoration: none;
  color: #ff3805;
}

a.logo:hover span {
  color: #2b2b2b;
  text-decoration: none;
  color: #316bf3;
}

.title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 38px;
  color: var(--blue);
}

//Header Admin
.flex {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 38px;
  color: var(--blue);
}
.icon {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    color: #014b9b;
    svg {
      fill: #014b9b;
    }
  }
}
