$black: #000000;
$black-blue: #1c1c27;
$almost-black: #101010;
$dark-gray: #838383;
$neon-carrot: #ffa542;
$pale-orange-yellow: #ffce7f;
$smoky-white: #eaeaea;
$white: #ffffff;
$white-aluminum: #aaaaaa;

/*transition*/
$transition: all 0.3s ease-in-out;
